.arrow_left {
  background: static_url('images/arrow_left.png') no-repeat;
  width: 16px;
  height: 16px;
}
.arrow_right {
  background: static_url('images/arrow_right.png') no-repeat;
  width: 16px;
  height: 16px;
}

.day-view {
  height: 100%;
}

.day-view .date {
  position: relative;
  top: 4px;
  width: 140px;
  margin-left: -70px;
  left: 50%;
  text-align: center;
}

.calendar-icon {
  background: static_url('images/calendar.png') no-repeat;
  width: 16px;
  height: 16px;
}

div.reservation-view-title, div.reservation-view-details {
  line-height: 17px;
  padding-left: 2px;
  background: #2952A3;
  color: white;
}

div.reservation-view-details {
  margin-bottom: 4px;
  background: #668CD9;
  border: 1px solid #2952A3;
}
